.fm-menu-item {
  @include media('tablet', 'min') {
    height: 100%;
  }

  .content {
    width: 100%;
    min-width: 200px;

    gap: 29px;

    @extend .flex-align-center;

    @include media('tablet', 'min') {
      justify-content: center;
    }

    &__text {
      @extend .fm-text-color-1;
      @extend .fm-font-size-25;
      @extend .fm-font-weight-bold;

      @include media('tablet', 'min') {
        text-align: center;

        font-size: 16px;

        &:not(.exact) {
          font-weight: 450;
        }
      }
    }

    &__icon {
      @include media('tablet', 'min') {
        display: none;
      }
    }
  }
}
