.pokemon-card {
  position: relative;
  @extend .flex-column;

  @include media('tablet', 'min') {
    max-width: 20rem;
  }

  &__image {
    @extend .flex;

    position: absolute;
    right: 0;

    @include media('tablet', 'min') {
      position: initial;
      margin-bottom: -4rem;

      justify-content: center;
    }

    .img {
      width: 10rem;
      height: 10rem;

      z-index: 2;
      background: red;
    }
  }

  &__container{
    border-radius: 8px;

    background: #78C850;
    padding-bottom: 10px;

    .header {
      height: 2.5rem;

      @extend .flex;
      justify-content: flex-star t;
      align-items: flex-start;

      @include media('tablet', 'min') {
        justify-content: flex-end;
        align-items: flex-end;
      }


      &__identifier {
        @extend .fm-text-color-1;
        @extend .fm-font-size-16;
        @extend .fm-font-weight-regular;

        margin: 3px 0 0 10px;

        @include media('tablet', 'min') {
          margin: 0 5px 2px 0;
        }
      }
    }

    .data__card {
      @extend .fm-background-1;

      @include media('mobile', 'max') {
        padding-right: 10rem;
      }

      &__container {
        padding: 10px;

        &__content {
          position: relative;

          @extend .flex;
          flex-direction: row-reverse;
          height: 4.5rem;

          .types {
            @include media('tablet', 'min') {
              position: absolute;
              left: 0;
            }

            height: 100%;
            @extend .flex-column;
            @extend .flex-space-between;

            &__item {
              height: 18px;

              @extend .flex-center-center;
            }
          }

          .name {
            @extend .flex-align-center;

            flex-grow: 1;
            @include media('tablet', 'min') {
              justify-content: center;
            }

            &__text {
              @extend .fm-font-size-18;
              @extend .fm-font-weight-regular;
            }
          }
        }
      }
    }
  }
}
